.second-section {
    position: relative;
    max-width: 1452px;
    display: flex;
    flex-direction: column;
    padding: 110px 25px 80px 25px;
    gap: 47px;
}
.top-nfts-head {
    display: flex;
    justify-content: space-between;
    padding-right: 11px;
    padding-left: 10px;
}
.top-nfts-head span {
    display: flex;
    align-items: center;
    gap: 26px;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.035rem;
}
.top-nfts h1 {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.035rem;
}

.top-nfts {
    display: flex;
    justify-content: left;
    padding-left: 8px;
    overflow: hidden;
}
.nft-item {
    width: 438px;
    position: relative;
}
.nft-item-border {
    margin-top:-1px;
    width: 439px;
    height: 236px;
    background: linear-gradient(rgba(34, 16, 67, 1),rgba(34, 16, 67, 1)) padding-box, 
    linear-gradient(140deg, #857398 21.43%, #756c9068 70%, #776c9008 110%) border-box;
    border: 4px solid transparent;
}
.nft-item-box {
    width: 431px;
    height: 228px;
    margin: 0px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
    -webkit-backdrop-filter: blur(30.4001px);
    backdrop-filter: blur(10.4001px);
    display: flex;
    justify-content: space-between;
    padding: 39px 22px 15px 28px;
}
.nft-item-box-left {
    display: flex;
    flex-direction: column;
}
.nft-item-box b {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.034rem;
}
.nft-item-box small {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 14.4001px;
}
.nft-item-rp {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 10px;
    margin-left: -2px;
}
.nft-item-rp b {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 12.6587px;
    line-height: 16px;
}
.nft-item-profile {
    align-items: center;
    margin-left: -2px;
    padding-top: 9px;
    padding-bottom: 24px;
    display: flex;
    gap: 5px;
}
.nft-item-profile span {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 20.1601px;
    line-height: 31px;
}
.nft-item-box-right {
    display: flex;
    flex-direction: column;
    padding-top: 4.5px;
    gap: 8.5px;
    margin-left: -2px;
}
.nft-item-time-box {
    display: flex;
    justify-content: space-between;
    padding-right: 8.7px;
    line-height: 2px;
    gap: 25px;
    margin-left: 7.8px;
    margin-top: 1px;
}
.nft-item-time-box div {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.nft-item-time-box span {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 23.0401px;
    line-height: 23px;
}
.middle-button {
    width: 160px;
    height: 55px;
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 22.2px;
    letter-spacing: 0.03rem;
    line-height: 23px;
    margin-top: 37px;
    margin-left: -4px;
    gap: 14px;
}
.second-section > a {
    display: none;
}
@media (max-width: 991.98px) {
    .nft-item {
        width: 304px;
    }
    .top-nfts .swiper-slide {
        width: 327px!important;
    } 
    .nft-item > img {
        width: 304px;
    }
    .nft-item-border {
        width: 304px;
        height: 164px;
        border: 3px solid transparent;
    }
    .nft-item-border > * {
        transform: scale(0.693);
        margin-left: -66.5px;
        margin-top: -35px;
    }
    .top-nfts-head span {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: normal;
    }
    .nft-item-box-left b {
        font-size: 18.5px;
        line-height: 34px;
    }
    .nft-item-rp b {
        font-size: 10px;
        line-height: 1px;
        margin-top: -3px;
        margin-left: 1px;
    }
    .middle-button span {
        font-size: 18px;
        line-height: 17px;
        margin-left: 2px;
    }
    .middle-button {
        gap: 27px;
    }
    .top-nfts-head a {
        display: none;
    }
    .second-section {
        padding: 109px 0px 50px 18px;
        gap: 36px;
    }
    .second-section > a {
        display: block;
        align-self: center;
        margin-right: 18px;
        margin-top: 14px;
    }
    .second-section > a .inside-figure-butt {
        background: rgba(42, 22, 78, 1);
    }
}